body {
  font-family: 'Noto Sans KR', sans-serif;
}

.carousel-item {
  height: 400px;
  background-size: cover;
  text-align: center;
}
.intro {
  display: inline-block;
  vertical-align: middle;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.intro h2 {
  font-size: 32px;
  font-weight: 300;
  color: #fff;
}

.intro h3 {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  margin-top: 18px;
  margin-bottom: 48px;
}

.intro a {
  text-decoration: none;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background-color: #5900e7;
  padding: 10px 30px;
}

.carousel-item.item1 {
  background-image: url("../images/guitar.jpg");
  background-position: left center;
}

.carousel-item.item2 {
  background-image: url("../images/makeup.jpg");
  background-position: center top;
}

.carousel-item.item3 {
  background-image: url("../images/cooking.jpg");
  background-position: center center;
}

.course {
  display: block;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
  margin-bottom: 20px;
}

.course:hover {
  text-decoration: none;
}

.course .course-img {
  display: block;
  width: 100%;
}

.course .info {
  padding: 10px;
}

.course .info h4 {
  font-size: 18px;
  color: #4a4a4a;
  margin-top: 0;
  margin-bottom: 10px;
}

.course .info .lecture {
  font-size: 13px;
  color: #4a4a4a;
}

.course .info .lecture img,
.course .info .lecture .name {
  vertical-align: middle;
}

.course .info  .lecture img {
  width: 20px;
  height: 20px;
}

.alert {
  margin-top: 50px;
  margin-bottom: 16px;
}